body{
    background: #2eb0b2;
}

.chart-container.donut{
    width: 100%;
    height: 300px;
}

.chart-container.area{
    width: 100%;
    height: 200px;
}

.chart-container.column{
    width: 700px;
    height: 400px;
}

.chart-container.pie{
    width: 102px;
    height: 102px;
    background: url(../img/pie-bg.png) no-repeat center center;
    background-size: 100px;
    float: left;
}

.chart-container.p-donut{
    width: 100%;
    height: 300px;
    background: #c2653b;
    overflow: visible;
}

.chart-container.bubble{
    width: 80%;
    height: 300px;
    background: #6f40cb;
}

.chart-container{
    position: relative;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
}

.container{
    width: 100%;
    margin: 0 auto;
}

h2{
    text-shadow : 0px 1px 2px rgba(0,0,0,0.2);
    border-left : #18a8f3 3px solid;
    text-indent: 10px; 
    color: #555;
}

.qselect{
    position: absolute;
    bottom: 10px;
    list-style: none;
}

.qselect li{
    float: left;
    margin: 0 10px;
}

.tip{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    min-width: 150px;
    /*height: 100px;*/
    font-size: 12px;
    color: #FFF;
    line-height: 16px;
    left: 70px;
    top: 20px;
}

.tip .hit{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;   
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    bottom : -6px;
    left: 50%;
    margin-left: -5px;
}

.tip-2{
    position: absolute;
    background: #a6d8d6;
    padding: 6px;
    text-align: center;
    font-size: 12px;
    color: #343434;
    line-height: 16px;
    left: 70px;
    top: 20px;
}

.tip-2 .hit{
    position: absolute;
    width: 0;
    height: 0; 
    border-top: 6px solid #a6d8d6;
    bottom : -6px;
    right: 0;
}

.tip-2.hit-left .hit{
    border-right: 5px solid transparent;
    border-left: 0px solid transparent;
    left: 0;
}

.tip-2.hit-right .hit{
    border-left: 5px solid transparent;
    border-right: 0px solid transparent;
    right: 0;
    margin-left: -5px;
}

.tip-2-do-anim{
    -webkit-animation: tip-2-anim 0.5s; 
}

@-webkit-keyframes tip-2-anim{
    0%   { -webkit-transform: scale(0.3); opacity: 0.5}
    50%   { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); opacity: 1}
}

.p-donut-do-anim{
    -webkit-animation: p-dount-anim 1s;
}

@-webkit-keyframes p-dount-anim{
    0%   { -webkit-transform: rotate(-80deg) scale(0.3); opacity: 0.5}
    100% { -webkit-transform: rotate(0deg) scale(1); opacity: 1}
}

.p-donut-center{
    position: absolute;
    left: 100px;
    top: 90px;
    width: 100px;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    font-size: 16px;
    opacity: 0;
    -webkit-transition: 0.8s;
}

.p-donut-center .em{
    display: block;
    font-size: 52px;
}

.bubble-container{
    position: relative;
    width: 50%;
    height: auto;
    color: #FFF;
    overflow: visible;
    float: left;
    margin-top: 30px;
}

.bubble-container ul{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;

}

.bubble-container ul li{
    height: 40px;
    line-height: 40px;
}

.bubble-container .value{
    font-size: 16px;
}

.bubble-container .company{
    font-size: 12px;
}

.bubble-container .left{
    left : 8px;
}

.bubble-container .right{
    right : 8px;
}

.bubble-container .bubble{
    background-color: #fff;
    border-radius: 100px;
    opacity: .8;
    
    -webkit-box-shadow: 0 4px 12px rgba(9,27,159,.15);
    -webkit-background-clip: padding-box;
    -webkit-transition: 1s;
}

.bubble-container .bubble.color0{
    background-image: -webkit-linear-gradient(93deg, rgba(242,234,23,.57) 0%, rgba(159,245,24,.57) 100%);
}

.bubble-container .bubble.color1{
    background-image: -webkit-linear-gradient(93deg, rgba(167,223,30,.54) 0%, rgba(123,225,240,.54) 100%);
}

.mobi-icon{
    position: absolute;
    top: -10px;
    width: 19px;
    height: 19px;
    background-image: url(../img/mob-icon.png);
    background-size: auto 19px;
    float: left;
    background-repeat: no-repeat;
}

.mobi-icon.iphone{
    background-position: -17px 0px;
}