.chart-container.pie{
    background: url(../img/pie-bg.png) no-repeat center center;
    background-size: 100px;
    float: left;
}

.pie-num{
    font-family: 'PTDINCond';
    position: absolute;
    font-size: 12px;
    color: #FFF;
}

.chart-container.p-donut{
    overflow: visible;
}

.chart-container.bubble{
    margin: 0 auto;
}

.chart-container.round{
    overflow: visible;
}

.chart-container{
    position: relative;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container{
    width: 100%;
    margin: 0 auto;
}

h2{
    text-shadow : 0px 1px 2px rgba(0,0,0,0.2);
    border-left : #18a8f3 3px solid;
    text-indent: 10px; 
    color: #555;
}

.tip{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    /*min-width: 150px;*/
    /*height: 100px;*/
    font-size: 12px;
    color: #FFF;
    line-height: 16px;
}

.tip .hit{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;   
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    bottom : -6px;
    left: 50%;
    margin-left: -5px;
}

.tip-2{
    position: absolute;
    background: #a6d8d6;
    padding: 6px;
    text-align: center;
    font-size: 12px;
    color: #343434;
    line-height: 16px;
}

.tip-2 .hit{
    position: absolute;
    width: 0;
    height: 0; 
    border-top: 6px solid #a6d8d6;
    bottom : -6px;
    right: 0;
}

.tip-2.hit-left .hit{
    border-right: 5px solid transparent;
    border-left: 0px solid transparent;
    left: 0;
}

.tip-2.hit-right .hit{
    border-left: 5px solid transparent;
    border-right: 0px solid transparent;
    right: 0;
    margin-left: -5px;
}

.tip-2-do-anim{
    -webkit-animation: tip-2-anim 0.5s; 
}

@-webkit-keyframes tip-2-anim{
    0%   { -webkit-transform: scale(0.3); opacity: 0.5}
    50%   { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); opacity: 1}
}

.p-donut-do-anim{
    -webkit-animation: p-dount-anim 1s;
}

@-webkit-keyframes p-dount-anim{
    0%   { -webkit-transform: rotate(-80deg) scale(0.3); opacity: 0.5}
    100% { -webkit-transform: rotate(0deg) scale(1); opacity: 1}
}

.p-donut-center{
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    font-size: 14px;
    opacity: 0;
    -webkit-transition: 0.8s;
}

.p-donut-center .em{
    display: block;
    height: 40px;
    width: 66px;
    background: transparent url(../img/pics2.png) no-repeat -90px -25px;
    background-size: 324px;
    margin: 5px auto;
}

.bubble-container{
    position: relative;
    width: 50%;
    height: auto;
    color: #FFF;
    overflow: visible;
    float: left;
    margin-top: 20px;
}

.bubble-container ul{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bubble-container ul li{
    height: 40px;
    line-height: 40px;
}

.bubble-container .value{
    font-size: 16px;
}

.bubble-container .company{
    font-size: 12px;
}

.bubble-container .left{
    left : 8px;
}

.bubble-container .right{
    right : 8px;
}

.bubble-container .bubble{
    background-color: #fff;
    border-radius: 100px;
    opacity: .8;
    -webkit-transform: translate3d(0,0,0);
    -webkit-box-shadow: 2px 4px 12px rgba(9,27,159,.15);
    -webkit-background-clip: padding-box;
    -webkit-transition: 0.9s;
}

.bubble-container .bubble.color0{
    background-image: -webkit-linear-gradient(93deg, rgba(186,239,57,.57) 0%, rgba(109,223,24,.57) 100%);
}

.bubble-container .bubble.color1{
    background-image: -webkit-linear-gradient(93deg, rgba(179,197,144,.57) 0%, rgba(228,239,64,.57) 100%);
}

.bubble-num{
    font-family: 'PTDINCond';
}

.mobi-icon{
    position: absolute;
    top: -18px;
    width: 19px;
    height: 21px;
    background: url(../img/pics2.png) no-repeat -62px -19px;
    background-size: 214px;
    float: left;
}

.mobi-icon.iphone{
    background-position: -83px -19px;
}

.round .center{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    -webkit-background-clip: padding-box;
    -webkit-box-shadow: 0 4px 12px rgba(9,27,159,.15), inset 0 2px 0 rgba(255,255,255,.29);
    box-shadow: 0 4px 12px rgba(9,27,159,.15), inset 0 2px 0 rgba(255,255,255,.29);
    background-image: -webkit-linear-gradient(93deg, rgba(167,223,30,.54) 0%, rgba(123,225,240,.54) 100%);
    -webkit-transition: 0.5s;
}

.link-dot{
    position: absolute;
    background-color: #f3e50c;
    width: 5px;
    height: 5px;
    border-radius: 20px;
}

.link-dot:after{
    display: block;
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 9px;
    height: 9px;
    border-radius: 20px;
    background-color: rgba(243, 229, 12, 0.4);
}

.link-dot:before{
    display: block;
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    /*background-color: blue;*/
}

.link-txt{
    position: absolute;
    font-size: 12px;
    color: #FFF;
    width: 30px;
}

.search-icon{
    position: absolute;
    background: url(../img/pics1.png) no-repeat 0px -316px;
    background-size: 343px;
}

.tip-anim{
    -webkit-animation: tip-zoom 0.4s;
}

@-webkit-keyframes tip-zoom{
    0%   { -webkit-transform: scale(0.6); }
    70%   { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}

.donut-label{
    font-size: 10px;
    color: #FFF;
}

.column-grid, .area-grid{
    float: left;
    text-align: right;
    font-size: 12px;
    line-height: 48px;
    margin-top: 22px;
}

.area-grid{
    display: block;
    line-height: 44px;
    margin-top: -1px;
}

.column-grid span, .area-grid span{
    display: block;
    margin-right: 5px;
}

.beat{
    -webkit-animation: beat 0.4s;
}

@-webkit-keyframes beat{
    0%   { -webkit-transform: scale(0.6); }
    70%   { -webkit-transform: scale(1.5); }
    100% { -webkit-transform: scale(1); }
}

.beat1{
    -webkit-animation: beat1 0.4s;
}

@-webkit-keyframes beat1{
    0%   { -webkit-transform: scale(1); }
    70%   { -webkit-transform: scale(1.5); }
    100% { -webkit-transform: scale(1); }
}

.beat2{
    -webkit-animation: beat2 0.2s;
}

@-webkit-keyframes beat2{
    0%   { -webkit-transform: scale(1); }
    70%   { -webkit-transform: scale(0.8); }
    100% { -webkit-transform: scale(1); }
}

.fan{
    position: absolute;
}

.fan .rect{
    position: absolute;
}

.fan .rect .round{
    position: absolute;
    border-radius: 500px;
}