html{
	margin: 0;
	height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
}
#cover{
	z-index: 10;
}
#cover-slide,#end-slide{
	background: #2664e4;
}
#pages{
	z-index: 5;
}
#pages .swiper-slide:nth-child(1),#pages .swiper-slide:nth-child(6){
  background: -moz-linear-gradient(135deg,#b0442b,#d07e47);
  background: -webkit-linear-gradient(135deg,#b0442b,#d07e47);
  background: -o-linear-gradient(135deg,#b0442b,#d07e47);
}
#pages .swiper-slide:nth-child(2),#pages .swiper-slide:nth-child(7){
	background: -moz-linear-gradient(135deg,#34aa71,#7cc33d);
  background: -webkit-linear-gradient(135deg,#34aa71,#7cc33d);
  background: -o-linear-gradient(135deg,#34aa71,#7cc33d);
}
#pages .swiper-slide:nth-child(3),#pages .swiper-slide:nth-child(8){
	background: -moz-linear-gradient(135deg,#299fad, #31bbb6);
  background: -webkit-linear-gradient(135deg,#299fad, #31bbb6);
  background: -o-linear-gradient(135deg,#299fad, #31bbb6);
}
#pages .swiper-slide:nth-child(4){
	background: -moz-linear-gradient(135deg,#484ec7, #1ea0f3);
  background: -webkit-linear-gradient(135deg,#484ec7, #1ea0f3);
  background: -o-linear-gradient(135deg,#484ec7, #1ea0f3);
}
#pages .swiper-slide:nth-child(5){
	background: -moz-linear-gradient(135deg,#7540bc, #683fdd);
  background: -webkit-linear-gradient(135deg,#7540bc, #683fdd);
  background: -o-linear-gradient(135deg,#7540bc, #683fdd);
}
#end{
	z-index: 1;
}
.swiper-slide .title {
  font-size: 21px;
  margin-top: 17px;
  margin-bottom: 0;
  line-height: 22px;
  margin-left: 5px;
}
.swiper-slide .title img{
  float: left;
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  top: 10px;
}
.swiper-pagination-switch {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 0px 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
footer{
	height: 19px;
	padding: 18px 5%;
	position: fixed;
	bottom:0;
	z-index: 30;
	width: 90%
}
footer>.pull-right{
	float: right;
}
footer>.pull-right>span{
	font-size: 14px;
	color:white;
	display: inline-block;
}
@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
from {
  background: red
}
to {
  background: black
}
}
.first2{
  animation:myfirst 5s;
  -webkit-animation:myfirst 5s;
  -moz-animation:myfirst 5s;
  -o-animation:myfirst 5s;
}
